{
	"comment": "SSO client config file for windows (release)",
	"ssoServer": {
		"appName": "AdSSO.exe",
		"exeName": "AdSSO.exe",
		"processName": "Autodesk.SSO.DefaultProcess-v2",
		"serverName": "Autodesk.SSO.DefaultServer-v2",
		"bundleId": "",
		"searchPaths": "",
    "VersionCompatibilityConfigfilePath": ""
	},
	"openssl": {
		"moduleName": "",
		"modulePath": ""
	}
}